@page
@model MyScriptureJournal.IndexModel

@{
    ViewData["Title"] = "My Scripture Journal";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].dateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scripture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateAdded)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.scriptureID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.scriptureID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.scriptureID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
