@page
@model MegaDesk_Razor.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeskQuote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.NumDrawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.NumDrawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materials.MaterialType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materials.MaterialType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingSpeed.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingSpeed.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.QuotePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.QuotePrice)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
